/**** DEKSTOP ****/
body {
    font-family: 'Muli', sans-serif;
}

/**** NAVBAR ****/
.logo-jyc {
    width: 25%;
}



/* NAVBAR */





/* Utilities */
/* .putih-kuning{
    background-color: #fffff6;
} */
