/* PROFILE PAGE */
.jumbotron-profile {
    background-image: url(../img/profile/profilepic.jpg);
    background-size: cover;
    height: 40vh;
}

.card-founder {
    width: 10rem;
    height: 10rem;
}

.row-founder {
    display: flex;
    flex-wrap: wrap;
}

#banner-profile {
  background: url(../img/banner-page/profil.JPG) no-repeat center center fixed;
  display: table;
  height: 30vh;
  position: relative;
  width: 100%;
  background-size: cover;
  background-position-y: -700px;
}

@media (max-width: 1500px) {
  #banner-profile {
    background: url(../img/banner-page/profil.JPG) no-repeat center center fixed;
    display: table;
    height: 30vh;
    position: relative;
    width: 100%;
    background-size: cover;
    background-position-y: -300px;
  }
}

.text-profile {
  background-color: rgba(0, 0, 0, 0.6);
  color: #f8f9fe;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  letter-spacing: .1rem;
}

.text-profile h1 {
  text-shadow: rgba(255, 255, 255, 0.1);
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .5rem;
}


/* SEJARAH */
@media (max-width: 991.98px) {
  .sejarah-text {
    margin-right: -15px !important;
  }
}


/* TAB STRUKTUR */
.tab-struktur {
  margin-left: 20px;
  margin-right: 20px;
}
.struktur-items {
  color: #b71c1cf2;
  text-decoration: none;
  border: 1px rgb(33, 33, 33) solid;
}

.struktur-items:hover {
  color: #FFFFFF;
  background-color: #b71c1cf2;
  text-decoration: none;
}


/* MODAL IMAGE */
/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
