/* Font Family */
body {
    font-family: 'Muli', sans-serif;
}

/* Template Warna*/
.putih-kuning {
    background-color: #fffff6;
}

.hitam-abu {
    background-color: #707070;
}

.merah {
    background-color: #C12821;
}


/**** NAVBAR ****/
.navbar {
    height: 70px;
    background-color: rgba(255, 255, 246, 0.8);
    position: relative;
    z-index: 1;

}

.navbar-brand img {
    width: 70px;
}

.nav-link {
    margin-right: 30px;
    color: #C12821 !important;
}

/* Carousel */
.carousel {
    margin-top: -100px;
}




h2.center-align {
    border-bottom: 2px solid #b71c1c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* BERITA PAGE */
.judul-berita.my-0 {
    margin: 0px !important;
    font-weight: bold;
}

#search-berita {
    margin-top: 20px;
    border: 2px solid #b71c1c;
}

.footer-border {
    border-right: 1px solid whitesmoke;
}

.berita-border {
    border-right: 1px solid #b71c1c;
}

.card-border {
    border-bottom: 1px solid #b71c1c;
}

.social-links {
    width: 8%;
    height: auto;
}

.nav-item.active {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}


/* Carousel static */

.btn-min-block {
    min-width: 170px;
    line-height: 26px;
}

.btn-clear {
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}

.btn-clear:hover {
    color: #000;
    background-color: #FFF;
}
