/**** DEKSTOP ****/
body {
    font-family: 'Muli', sans-serif;
}

/* Template Warna*/
.putih-kuning {
    background-color: #fffff6;
}

.hitam-abu {
    background-color: #707070;
}

.merah {
    background-color: #C12821;
}

/**** NAVBAR ****/




h2.center-align {
    border-bottom: 2px solid #b71c1c;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}


/* BERITA PAGE */
.judul-berita.my-0 {
    margin: 0px !important;
    font-weight: bold;
}

#search-berita {
    margin-top: 20px;
    border: 2px solid #b71c1c;
}

.footer-border {
    border-right: 1px solid whitesmoke;
}

.berita-border {
    border-right: 1px solid #b71c1c;
}

.card-border {
    border-bottom: 1px solid #b71c1c;
}

.social-links {
    width: 8%;
    height: auto;
}

.nav-item.active {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}
